.panda-bg-info{
    background-color: #FEEAE9;
    
}
.panda-warning{
    background-color: #FF136F;
}
.bg-watch{
    background-color: #FF9C35;
}
.bg-bag{
    background-color: #FF589B;
}
.bg-shoes{
    background-color: #4289FF;
}